<%- include('../includes/head.ejs') %>
</head>

<body>
        <%- include('../includes/navigation.ejs') %>
        <main>
                <% if (products.length > 0) { %>
                <ul>
                        <% products.forEach(p => { %>
                        <li>
                                <!-- sequelize gives cartItem which stores info about this inbetween table and the 
                                entry that is related to this product, there -->
                                <p><%= p.title%> (<%= p.cartItem.quantity %>)</p>
                                <form action="/cart-delete-item" method="POST">
                                        <input type="hidden" value="<%= p.id %>" name="productId">
                                        <button class="btn danger" type="submit">Delete</button>
                                </form>
                        </li>


                        <% }); %>
                </ul>
                <% } else { %>
                <h1>No Products in Cart!</h1>
                <% } %>
        </main>
        <%- include('../includes/end.ejs') %>